header {
    text-align: right;
}
h3 {
    text-indent:1em; /*отступ первой строки от края*/
    font: bold 14pt 'Bad Script', cursive; /*жирный, 16пт, шрифт*/
    text-decoration: underline; /*подчеркивание*/

}
article {
    text-indent:1em; /*отступ первой строки от края*/
    font: 12pt 'Bad Script', cursive;
}